PORT=
MONGO_URI="mongodb+srv://konto:kod@cluster0.3cc2r.mongodb.net/AsaadFood-Project?retryWrites=true&w=majority&appName=Cluster0"
# NODE_ENV = development
NODE_ENV = production
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Set Up Gmail (Example):
# Go to Gmail settings > Security > 2-Step Verification > App Passwords.
# Generate an app password (e.g., "abcdefghijklmnop")—use this as EMAIL_PASS.
# Set EMAIL_USER=yourgmail@gmail.com and ADMIN_EMAIL=support@yourcompany.com.

#yourgmail@gmail.com
EMAIL_USER=

#yourapppassword  - Generate this in Gmail settings
EMAIL_PASS=

#support@yourcompany.com  - Where messages are sent
ADMIN_EMAIL=

#VISMA
VISMA_CLIENT_ID=
VISMA_CLIENT_SECRET=